@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

<<<<<<< HEAD
<<<<<<< HEAD
.footer {
  border-style: solid;
}

.div-footer {
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
}

.smicons {
  // border-style: solid;
  display: inline-block;
  position: relative;
  // text-align: center;
  width: 300px;
=======
.page-footer {
  // background-image: url('/../public/bg1.jpg');
  // background-size: auto;
=======
.footer {
>>>>>>> working footer must space out icons and add links
  border-style: solid;
}

.div-footer {
  background-color: rgba(0, 0, 0, 0.4);
}

<<<<<<< HEAD
.ft-message {
  color: white;
  font-family: 'Mountains of Christmas', cursive;
}

.savings-msg {
  color: white;
>>>>>>> started prework on footer
=======
.smicons {
  border-style: solid;
  display: inline-block;
  justify-content: space-between;
  position: relative;
  // text-align: center;
  width: 200px;
>>>>>>> working footer must space out icons and add links
}
