@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

.footer {
  border-style: solid;
}

.div-footer {
  background-color: rgba(0, 0, 0, 0.4);
}

.smicons {
  border-style: solid;
  display: inline-block;
  justify-content: space-between;
  position: relative;
  // text-align: center;
  width: 200px;
}
