@import '~bootstrap/scss/bootstrap';

/*.card-img:hover {
  -ms-transform: scale(1.5); /* IE 9
  -webkit-transform: scale(1.5); /* Safari 3-8
  transform: scale(1.5);
} */

#costumeList {
  background-color: blue;
}

#jumbo {
  background-color: pink;
}
