<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal-one" data-whatever="@signUp">
  SignUp
</button>
<!-- Modal -->
<div class="modal fade" id="modal-one" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileForm"></h5>
        <div>
          <form id='sign-up'>
            <input type='text' name='credentials[email]' placeholder='email'>
            <input type='password' name='credentials[password]' placeholder="password">
            <input type='password' name='credentials[password_confirmation]' placeholder="Confirm password">
            <input type="submit" value="Sign Up!">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        </div>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
