<!-- Button trigger modal --
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal-three" data-whatever="@signUp">
  SignIn!
</button>
<!-- Modal --
<div class="modal fade" id="modal-three" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileForm"></h5>
      </div>
      <div class="modal-body">
        <div>
          <form id='sign-in'>
            <input type='text' name='credentials[email]' placeholder='email'>
            <div class="dropdown-divider"></div>
            <input type='password' name='credentials[password]' placeholder="password">
            <div class="dropdown-divider"></div>
            <input type="submit" value="Sign In!">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
